.highlight {
    animation: fade 0.9s forwards;
    -webkit-animation: fade 1.5s forwards;
}


.hovering {
    background-color: #393B48 !important;
    position: relative;
}

.hovering:hover {
    background-color: #35384B !important;
}

.highlighted {
    background-color: #454037 !important;
}

.highlighted:hover {
    background-color: #403D38 !important;
}

.hovering::before,
.highlighted::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    opacity: 0.5;
}

.hovering::before {
    background-color: #5865F2;
}

.highlighted::before {
    background-color: #F0B132;
}

.repliedPath::before {
    content: "";
    position: absolute;
    border: 2px solid;
    border-top-color: #4E5058;
    border-left-color: #4E5058;
    border-bottom-color: transparent;
    border-right-color: transparent;
    top: 9px;
    left: -22px;
    width: 42px;
    height: 67%;
    border-top-left-radius: 8px;
    z-index: 1;
}

@keyframes fade {
    from {
        background-color: #393B48
    }

    to {
        background-color: transparent;
    }

}
