.highlight {
    background-color: #393B48 !important;
    animation: fade 0.9s forwards;
    -webkit-animation: fade 0.9s forwards;
}


.hovering {
    background-color: #393B48 !important;
    position: relative;
}
.hovering::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: #5865F2;
    opacity: 0.5;
}

@keyframes fade {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.5;
    }

}


